{{> head}}

{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Stoned Fox</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sapiente, reprehenderit accusantium rerum
            modi molestias error facilis cumque eum officia numquam dolor fugit, blanditiis soluta tenetur dolores velit
            eius animi.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/stoned-fox.png" class="img-thumbnail">
    </div>
</div>


{{> footer}}